*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    padding:50px;
    font-weight: 400;
}

.cartContainer{
    position: fixed;
    top: 55px;
    left: 30px;
    z-index: 999;
}

.cartContainer button{
    border-radius: 50%;
    padding: 7px 11px;
}

.cartContainer a{
    color: white;
    transition: 0.2s;
}

.cartContainer button:hover a{
    color: white;
}

.cartContainer span{
    background-color: rgb(255, 64, 64);
    font-size: 13px;
    border-radius: 50%;
    padding: 0px 6px;
    position: absolute;
    top: -7px;
    right: -5px;
    color: white;
}

.cardItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(0,0, 0, 0.1);
}

.cardItem:hover{
    transform: translateY(-6px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

.btn:hover{
    transform: scale(1.08);
}

button{
    margin: 0px 2px;
}

.active{
    background-color: #0048ff;
    color: white;
}

.copyRight{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: auto;
    transform: translate(-50%);
    color: white;
    border-radius: 15px 15px 0px 0px;
}

.copyRight span{
    color: red;
    font-size: 18px;
}