*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    padding: 55px 0px;
    font-weight: 400;
}

.backToShopBtn{
    border-radius: 50%;
    padding: 7px 11px;
    color: white;
    z-index: 999;
    position: absolute;
    left: 30px;
    top: 40px;
    transition: 0.2s;
}

.backToShopBtn:hover{
    transform: scale(1.08);
    color: white;
}

.alertsContainer{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
}

.alertsContainer .priceUpdated{
    color: rgba(0, 0, 0, 0.807);
    transform: translateX(300px);
    background-color: #7be495;
    padding: 6px 10px 7px 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 15px;
    opacity: 0;
    transition: 0.5s;
}

.alertsContainer .priceUpdated::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: timer 4.5s linear 1;
}

.alertsContainer .itemDeleted{
    background-color: rgb(255, 42, 42);
    transform: translateX(300px);
    padding: 6px 10px 7px 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    color: white;
    margin: 15px;
    opacity: 0;
    transition: 0.5s;
}

.alertsContainer .itemDeleted::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: timer 4.5s linear 1;
}

.cartHeader .itemInfo{
    width: 45%;
}

.cartHeader .itemPrice{
    align-items: center;
    width: 20%;
}

.cartHeader .itemQuantity{
    width: 35%;
}

.cartBody .itemInfo{
    align-items: center;
    width: 45%;
}

.cartBody .itemInfo img{
    border-radius: 5px;
    width: 65%;
}

.cartBody .itemInfo h5{
    font-weight: 400;
    width: 35%;
}

.cartBody .itemPrice{
    align-self: center;
    width: 20%;
}

.cartBody .itemQuantity{
    align-self: center;
    width: 35%;
}

.cartBody .itemQuantity .buttonsContainer{
    flex-direction: row;
}

.cartBody .itemQuantity .buttonsContainer button{
    padding: 0px  7px;
}

.line{
    color: rgba(0, 0, 0, 0.4);
}

.copyRight{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px 15px 0px 0px;
    transform: translate(-50%);
    z-index: 1000;
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
    left: 50%;
}

.copyRight span{
    font-size: 18px;
    color: red;
}

@keyframes timer{
    100%{
        width: 100%;
    }
}

@media only screen and (max-width:550px){
    .cartBody .itemQuantity input{
    text-align: center;
    padding: 0;
    }
}